[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
astropy = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
vip-hci = "*"
pandas = "*"
pyds9 = "*"
hciplot = "*"
tqdm = "*"

[requires]
python_version = "3.7"
